<% publish_to "/chat/#{@message.chat_id}/messages" do %>
  var row = '<tr>'+
    "<td><i><%= @message.user.email %></i>: <b><%= @message.body %></b></td>"+
    "<td style='text-align: right;'><%= @message.created_at.strftime("%Y-%m-%d %H:%M") %></td>"+
    '</tr>';

  if ($('.no-records').length!=0) {
    $('.no-records').remove();
  }

  $('.chat-table').append(row);
  $("#new_message")[0].reset();


    $.ajax({
      url: '/messages/mark_readed',
      type: 'POST',
      data: { id: <%= @message.id %>}
    });
<% end %>