<div class="container">
  <div class="row" style="margin-top: 25px;">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="well" >
        <h4><b>All created chats</b></h4>
        <div class="row">
          <div class="col-lg-12">
            <table class="table">
              <% if @user_chats.blank? %>
                No chats found
              <% else %>
                <thead>
                <tr>
                  <th>Email</th>
                </tr>
                </thead>
                <% @user_chats.each do |chat| %>
                  <tr>
                    <td><%= chat_opponent(chat) %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>